html {
  font-family: Verdana;
  text-align: center;
  background-color: black;
}

header {
  color: white;
  font-weight: normal;
  font-size: 50px;
}

.download {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

.info {
  color: gray;
  font-size: 21px;
}

.end {
  text-align: right;
}

.title {
  color: white;
  font-size: 42px;
  font-weight: 300;
}
